:root {
    --rich-green: #2c8c2c;
    --gold: #9aa54a;
    --text-brown: #3c3c23;
    --pale-green: #5cb574;
}

body {
    color: var(--text-brown);
}

.hide {
    display: none;
}

.prayer-times-table table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: #fff; White background for table */
}

.prayer-times-table th,
.prayer-times-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.prayer-times-table th {
    background-color: var(--gold);
    font-weight: bold;
}

.prayer-times-table td:hover {
    background-color: #d3ffd3;
}

.prayer-times-table td {
    transition: background-color 0.3s ease; /* Transition for background color */
}

.focus {
    background-color: var(--pale-green);
}